@use "../variables" as *;

.catalog {
  padding: 40px 0 50px;

  @media screen and (min-width: 1024px) {
    padding: 60px 0 70px;
  }

  &__holder {
    display: flex;
    gap: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 12px;
    max-width: 970px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      gap: 24px 20px;
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}