@use "../variables" as *;

.filter {
  &__container {
    display: flex;

    justify-content: space-between;
    gap: 32px;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
      gap: 12px;
      flex-direction: row;
      align-items: center;
    }
  }

  &__group-holder {
    display: flex;
    gap: 40px;

    @media screen and (min-width: 768px) {
      gap: 64px;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      gap: 12px;
    }

    .radio {
      position: absolute;
      appearance: none;
    }

    .label {
      display: inline-block;
      padding: 10px 12px 10px 42px;
      border-radius: 32px;
      background-color: $white;
      cursor: pointer;
      font-size: 14px;
      transition: $transition;

      @media screen and (min-width: 768px) {
        padding: 16px 16px 16px 60px;
        font-size: 18px;
      }

      &_fl {
        background: url("../images/bear.png") 12px center / contain no-repeat, $white;
        background-size: 24px;

        @media screen and (min-width: 768px) {
          background: url("../images/bear.png") 16px center / contain no-repeat, $white;
          background-size: 40px;
        }
      }
      &_toy {
        background: url("../images/flowers.png") 12px center / contain no-repeat, $white;
        background-size: 24px;

        @media screen and (min-width: 768px) {
          background: url("../images/flowers.png") 16px center / contain no-repeat, $white;
          background-size: 40px;
        }
      }
      &_cards {
        background: url("../images/postcard.png") 12px center / contain no-repeat, $white;
        background-size: 24px;

        @media screen and (min-width: 768px) {
          background: url("../images/postcard.png") 16px center / contain no-repeat, $white;
          background-size: 40px;
        }
      }
    }
    .label:hover {
      background-color: #d17d2f;
      color: $white;
    }

    .radio:focus + .label {
      background-color: #d17d2f;
      color: $white;
    }

    .radio:checked + .label {
      background-color: #f0a35b;
      color: $white;
    }
  }

  .choices {
    position: relative;

    &__filter {
      display: none;
      border-radius: 12px;
      padding: 24px;
      background-color: $white;
      position: absolute;
      transform: translateX(-50%);
      top: calc(100% + 20px);

      &.active {
        display: block;
      }
    }

    &__btn {
      position: relative;
      cursor: pointer;
      padding-right: 16px;
      font-size: 14px;

      @media screen and (min-width: 768px) {
        font-size: 18px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        pointer-events: none;
        background: url("../images/arr.svg") center / contain no-repeat;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__option {
      font-size: 18px;
      padding: 4px 0;
      cursor: pointer;
      transition: $transition;
      white-space: nowrap;

      &:hover {
        color: #d17d2f;
      }
    }

    .wrap {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__input {
      border: none;
      border-radius: 32px;
      padding: 8px 16px;
      max-width: 110px;
      height: 40px;
      background-color: #f5f6f2;
    }
  }
}