@use "../variables" as *;

.hero {
  padding: 40px 0 73px;

  @media screen and (min-width: 768px){
    padding: 40px 0;

  }@media screen and (min-width: 1024px){
    padding: 60px 0;
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__title {
    font-family: $second-family;
    font-size: clamp(40px, calc(40px + (80 * (100vw - 768px) / (1440 - 768))), 120px);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #607900;
  }

  &__subtitle {
    font-family: $second-family;
    font-style: italic;
    text-align: right;
    color: #2e3514;
    font-size: clamp(18px, calc(18px + (22 * (100vw - 768px) / (1440 - 768))), 40px);
  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @media screen and (min-width: 768px){
      gap: 26px;
    }
  }

  &__image {
    overflow: hidden;
    max-width: 284px;
    width: calc(284 / 1300 * 100%);

    &:first-child {
      border-radius: 400px 400px 400px 0;
    }
    &:last-child {
      border-radius: 400px 0 400px 400px;
    }
  }

  &__main-image {
    width: calc(680 / 1300 * 100%);
  }
}