$white: #ffffff;
$main: #333;
$light: #eee;
$font-family: "Inter", sans-serif;
$second-family: "Playfair Display", sans-serif;
$dark: #2e3514;
$light-orange: #F0A35B;
$orange: #d17d2f;

$transition: 0.3s all ease-in-out;